<h1> Exercise Tracker </h1>
<form id="newExercise">
  <fieldset>
     <legend>New Exercise</legend>
	 <label>Name</label>
	 <input type="text" name="name" id="name">
	 <label> Reps </label>
	 <input type="number" name="reps" id="reps">
	 <label> Weight </label>
	 <input type="number" name="weight" id="weight">
	 <label> Date </label>
	 <input type="date" name="date" id="date">
	 <label> Weight Type </label>
	 <select name="type" id="type">
	   <option value="1">Pounds</option>
	   <option value="0">Kilograms</option>
	 <select>
	 <input type="button" name="submit" id="submit" value="New Exercise">
  </fieldset>
</form>
<table>
  <theader>
    <th style="visibility:collapse;">id</td>
    <th> Name </th>
    <th> Reps </th>
		<th> Weight </th>
		<th> Date </th>
		<th> lbs/kg? </th>
		<th></th>
  </theader>
  <tbody id="theBody">
  {{#each display}}
	  <tr id={{this.id}}>
	    <td style="visibility:collapse;"> {{this.id}} </td>
	    <td> {{this.name}} </td>
	    <td> {{this.reps}} </td>
	    <td> {{this.weight}} </td>
	    <td> {{this.date}} </td>
	    <td> {{this.lbs}} </td>
	    <td> 
	      <button onClick="editRow({{this.id}});return false;">Edit</button>
	      <button onClick="deleteRow({{this.id}});return false;">Delete</button>
	    </td>
	  </tr>
  {{/each}}
  </tbody>
</table>